.add-todo__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-todo__card {
  width: 100%;
  display: flex;
  border: 1px solid #21212b;
  margin: 10px 0px 20px 0px;
  border-radius: 10px;
}

.add-todo__form {
  padding: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.button-container {
  height: 25px;
  width: 25px;
  border-radius: 8px;
  padding-left: 0.8px;
}

.add-todo__button {
  /*border: 2px solid aquamarine;*/
  border: none;
  background-color: aquamarine;
  color: #181820;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7px;
  justify-content: center;
  transition: 200ms;
}

.add-todo__button:disabled {
  border: none;
  background-color: rgba(127, 255, 212, 0.707);
  transition: 200ms;
}

.add-todo__text {
  background-color: transparent;
  border: none;
  color: #bfbfc2;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 93%;
}

.add-todo__text:focus {
  outline: none;
}

.add-todo__modal {
  width: 95%;
  margin: 10px 0px 20px 0px;
}

.add-todo__text__container {
  display: flex;
  width: 100%;
}

.loading-container {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  flex-basis: 3%;
}
